body
{
	padding: 10px;
	margin: 40px;
	font-size: 24px;
	font-family: Helvetica;
	background-image: url(https://images.wallpaperscraft.com/image/planets_nebula_galaxy_159028_1280x720.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    color: rgb(238, 226, 226);
}

nav
{
        background-color: rgb(255, 255, 255);
        padding: 0px;
        color:#ab6fdd;